# Node modules
client/node_modules/
server/node_modules/

# Env files
*.env
client/.env
server/.env

# Build / dist folders
client/dist/
server/build/

# Logs
*.log

# IDE files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
